/* Element selector */
h1{
   font-size:25px
}
/* Class selector */
.highlight{
    background-color: aqua;
}
/* Descendant selector */
ul li{
    list-style:circle;
}
/* pseudo class selector */
a:hover{
    text-decoration: underline ;
}
body {
    background-color: darksalmon;
}
p {
    font-family: cursive;
    font-size: medium;
}
ol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}